.btn {
  width: 250px;
  height: 60px;
  color: #fff;
  background-color: var(--primary);
  border-radius: 10px;
  font-weight: bold;
}

.btn:hover {
  color: var(--primary);
  background-color: #fff;
  border: 1px solid var(--primary);
}