.btn {
  width: 250px;
  height: 60px;
  color: #fff;
  background-color: #F53838;
  border-radius: 10px;
  font-weight: 500;
}

.btn:hover {
  color: #F53838;
  background-color: #fff;
  border: 1px solid #F53838;
}