.btn-round {
  padding: 0 60px;
  height: 45px;
  color: #F53838;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #F53838;
  font-size: 16px;
  font-weight: 500;
}

.btn-round:hover {
  color: #fff;
  background-color: #F53838;
  cursor: pointer;
}