.data {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: var(--w-desktop);
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;

  .divider {
    height: 125px;
    width: 2px;
    background-color: #EEEFF2;
  }
  
  .card {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 36px;
  background-color: #fff;

  .icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFECEC;
    width: 55px;
    height: 55px;
    border-radius: 50%;    
  }

  .titles {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 25px;
      font-weight: bold;
      color: var(--title);
      margin-bottom: 5px;
    }
    
    .subtitle {
      font-size: 20px;
      color: var(--subtitle);
    }
  }
}
}








