.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  width: var(--w-desktop);

  img {
    width: 150px;
    height: 36px;
    cursor: pointer;    
  }

  .menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      gap: 40px;
      font-size: 16px;
      color: var(--subtitle);

      li {
        cursor: pointer;
      }
    }
  }

  .buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 30px;
    cursor: pointer;
  }

}