.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1050px;
  width: var(--w-desktop);

  .global {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 35px;
      font-weight: 500;
      width: 380px;
      height: 100px;
      color: var(--title);
    }

    p {
      color: var(--subtitle);
      width: 555px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 120px;
      line-height: 30px;
    }

    img {
      width: 1060px;
      height: 537px;
      margin-bottom: 30px;
    }
  }

  .sponsor {
    width: 1135px;
    height: 208px;
  }
}